*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: #1F2937;
}

.menu-container{
    display: flex;
    justify-content: center;
}

.menu{
    padding: 30px 0 30px 0;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-items{
    display: flex;
}

.menu-item{
    margin-left: 30px;
}

.menu-logo a{
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
}

.menu-item a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.menu-logo a:hover,
.menu-item a:hover{
    text-decoration: underline;
}

.hero-section-container{
    display: flex;
    justify-content: center;
}

.hero-section{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    padding: 100px 0 100px 0;
}

.hero-section-text{
    flex: 1;
    margin: 0 100px 0 0;
}

.hero-section-text h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0 0 5px 0;
}

.hero-section-text p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 0 10px 0;
}

.hero-section-text button{
    background-color: #3882F6;
    padding: 10px 20px 10px 20px;
    width: 125px;
    border: none;
    border-radius: 12px;
    color: #F9FAF8;
    font-size: 15px;
}

.hero-section-image{
    flex: 2;
}

.hero-section-image img{
    width: 100%;
    height: 200px;
}

.projects-container{
    display: flex;
    justify-content: center;
    padding: 75px 0 75px 0;
}

.projects{
    width: 1300px;
    display: flex;
    flex-direction: column;
}

.projects h1{
    text-align: center;
    margin: 0 0 50px 0;
}

.project-item-container{
    display: flex;
    justify-content: space-evenly;
}

.project-item{
    text-align: center;
    width: 150px;
}

.project-item img{
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.quote-section{
    background-color: #E5E7EB;
    padding: 150px 0 150px 0;
    display: flex;
    justify-content: center;
}

.quote-section-container{
    width: 1000px;
}

.quote i{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter
}

.quotee{
    text-align: right;
    font-weight: bolder;
}

.call-to-action-section{
    display: flex;
    justify-content: center;
    padding: 150px 0 150px 0;
    color: #E5E7EB;
}

.call-to-action-container{
    width: 1300px;
    background-color: #3882F6;
    border-radius: 12px;
    padding: 40px 20px 40px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.call-to-action-button button{
    background-color: #3882F6;
    width: 100px;
    height: 50px;
    border-radius: 12px;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
}